apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:

  nginx.conf: |
    events {
      worker_connections 1024;
    }

    http {
      server {
        listen {{ .Values.frontend.service.port }};
        location / {
          proxy_pass http://backend-service:{{ .Values.backend.service.port }};
        }
      }
    }